In [187]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [188]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

from analysis import *

In [190]:
df, dfr, outlier_list = start_mcd_analysis('aug5/linux_mcd.csv', drop_outliers=False)

Possible QPS values : [200000 400000 600000]
Dropping rows with time <= 29
Before: 1124
After: 1124

Dropping rows with read_99th latency > 500
Before: 1124
After: 1067

In [191]:
for o in outlier_list: print(o)

('linux', 1, 200, '0x1b00', 95)
('linux', 0, 400, '0x1700', 95)
('linux', 3, 400, '0x1900', 95)
('linux', 2, 300, '0x1700', 55)

In [192]:
r,tl,te = write_mcd_table(df)

In [193]:
for x in tl: print(x)

Memcached: 200000 rps & $31259.596 \pm 296.357$ & $2083.558 \pm 19.963$ & $39483.887 \pm 245.659$ & $2631.382 \pm 16.372$ & $34242.540 \pm 244.259$ & $2282.836 \pm 16.284$ \\ \hline
Memcached: 400000 rps & $45441.862 \pm 1041.803$ & $3028.448 \pm 69.430$ & $46561.415 \pm 528.159$ & $3103.060 \pm 35.199$ & $39090.120 \pm 413.217$ & $2606.008 \pm 27.548$ \\ \hline
Memcached: 600000 rps & $61677.242 \pm 1079.263$ & $4110.446 \pm 71.927$ & $52434.912 \pm 532.291$ & $3494.496 \pm 35.474$ & $42400.243 \pm 257.377$ & $2826.494 \pm 17.061$ \\ \hline

In [171]:
df[(df.QPS==200000) & (df.itr==1) & (df.dvfs=='0xffff')]

,sys,QPS,itr,dvfs,rapl,i_mean,time_mean,joule_mean,ins_mean,cyc_mean,...,read_10th_std,read_50th_std,read_90th_std,read_95th_std,read_99th_std,RDTSC_START_std,RDTSC_END_std,joules_std,edp_std,eput_std
12,linux,200000,1,0xffff,55,2.0,30.006,2083.558,3.561274e+11,4.505281e+11,...,0.254951,0.164317,0.100000,0.216795,0.641872,5.311597e+11,5.311595e+11,19.963220,296.356971,27.852044
13,linux,200000,1,0xffff,95,2.0,30.008,2092.492,3.493758e+11,4.480067e+11,...,0.212132,0.167332,0.114018,0.178885,0.634823,5.311180e+11,5.311184e+11,18.505628,276.267606,25.582775
14,linux,200000,1,0xffff,135,2.0,30.010,2090.522,3.455371e+11,4.463603e+11,...,0.393700,0.228035,0.141421,0.178885,0.622896,5.301903e+11,5.301898e+11,44.251270,663.990310,60.451728

In [172]:
df[(df.QPS==200000) & (df.itr==1) & (df.dvfs!='0xffff')]

,sys,QPS,itr,dvfs,rapl,i_mean,time_mean,joule_mean,ins_mean,cyc_mean,...,read_10th_std,read_50th_std,read_90th_std,read_95th_std,read_99th_std,RDTSC_START_std,RDTSC_END_std,joules_std,edp_std,eput_std
0,linux,200000,1,0x1700,55,0.0,30.010,2614.300,3.119893e+11,4.338905e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,linux,200000,1,0x1700,95,0.0,30.010,2644.950,3.954681e+11,4.757016e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,linux,200000,1,0x1700,135,0.0,30.010,2633.110,3.151449e+11,4.368129e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,linux,200000,1,0x1900,55,2.0,30.010,2887.188,3.390319e+11,4.552750e+11,...,0.228035,0.342053,0.216795,0.277489,0.187083,5.819510e+11,5.819509e+11,23.363295,350.566247,16.787569
4,linux,200000,1,0x1900,95,2.0,30.010,2852.674,3.218099e+11,4.455852e+11,...,0.238747,0.334664,0.472229,0.258844,0.288097,5.812467e+11,5.812464e+11,7.319479,109.828790,5.401117
5,linux,200000,1,0x1900,135,2.0,30.010,2865.004,3.465040e+11,4.592374e+11,...,0.334664,0.578792,0.497996,0.472229,0.343511,5.800866e+11,5.800870e+11,27.669078,415.174516,20.305298
6,linux,200000,1,0x1b00,55,2.0,30.010,3144.372,3.195029e+11,4.491349e+11,...,0.350714,0.705691,0.396232,0.834865,0.988939,5.561479e+11,5.561477e+11,72.475663,1087.497328,43.315379
7,linux,200000,1,0x1b00,95,2.0,30.010,3095.680,3.796030e+11,4.798951e+11,...,0.502991,0.923580,0.531977,1.045466,1.108152,5.544497e+11,5.544498e+11,15.974095,239.691290,10.021202
8,linux,200000,1,0x1b00,135,2.0,30.010,3099.650,3.090024e+11,4.463783e+11,...,0.204939,0.430116,0.207364,0.421900,0.471169,5.545181e+11,5.545178e+11,19.686224,295.391785,12.245150
9,linux,200000,1,0x1d00,55,2.0,30.010,3346.950,3.979898e+11,4.917760e+11,...,0.769415,0.606630,0.426615,0.808084,1.092245,5.339894e+11,5.339893e+11,25.084019,376.385702,13.407748
10,linux,200000,1,0x1d00,95,2.0,30.008,3385.768,3.153364e+11,4.497952e+11,...,0.761577,0.384708,0.342053,0.207364,0.576194,5.334269e+11,5.334270e+11,18.114811,273.557672,9.403381
11,linux,200000,1,0x1d00,135,2.0,30.008,3374.640,3.362635e+11,4.595852e+11,...,0.801873,0.466905,0.371484,0.439318,0.622896,5.339470e+11,5.339475e+11,29.980060,443.226985,15.945900

In [176]:
df[(df.QPS==200000) & (df.itr!=1) & (df.dvfs!='0xffff')][df[(df.QPS==200000) & (df.itr!=1) & (df.dvfs!='0xffff')]['joules_mean']==df[(df.QPS==200000) & (df.itr!=1) & (df.dvfs!='0xffff')]['joules_mean'].min()]

,sys,QPS,itr,dvfs,rapl,i_mean,time_mean,joule_mean,ins_mean,cyc_mean,...,read_10th_std,read_50th_std,read_90th_std,read_95th_std,read_99th_std,RDTSC_START_std,RDTSC_END_std,joules_std,edp_std,eput_std
65,linux,200000,400,0x1700,135,2.0,30.0,2282.836,1.535998e+11,2.729085e+11,...,1.152389,1.047855,1.211198,2.765321,0.766159,2.979369e+11,2.979370e+11,16.283915,244.258721,18.780388

In [179]:
df[(df.QPS==200000) & (df.itr!=1) & (df.dvfs!='0xffff') & (df.rapl==135)]['joules_mean'].min()

2282.836